body {
  margin: 0;
}
.page {
  width: 1000%;
  margin: 65px auto 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
